<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Score</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6">
                <div class="container my-5 text-center">
                    <h1 style="color:blue">Uploaded Image</h1>
                </div>
            
                <div class="container my-4">
                    <img src="{{IMAGE_PATH}}" alt="51624.jpg">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="container my-5">
                    <h1 style="color:blue">Composition Score of the Uploaded Image</h1>
                </div>
            
                <div class="container my-4">\
                    <table class="table w-100">
                        <thead>
                          <tr>
                            <th scope="col" style="color:brown; font-size: large;">S.No.</th>
                            <th scope="col" style="color:brown; font-size: large;;">Characteristics</th>
                            <th scope="col" style="color:brown; font-size: large;">Score</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Rule of Third</td>
                            <td>{{ROT}}</td>
                          
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Diagonal Dominance</td>
                            <td>{{DIAGONAL}}</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Visual Balance</td>
                            <td>{{VISUAL_BALANCE}}</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Object Size</td>
                            <td>{{OBJECT_SIZE}}</td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Total Composition Score</td>
                            <td>{{TOTAL}}</td>
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td>Result</td>
                            <td>{{FINAL}}</td>
                          </tr>
                        </tbody>
                      </table>
                    <!-- <h2 style="color:rgb(139, 59, 64)">Rule of Third: {{ROT}}</h2>
            
                    <h2 style="color:rgb(139, 59, 64)">Diagonal Dominance: {{DIAGONAL}}</h2>
            
                    <h2 style="color:rgb(139, 59, 64)">Visual Balance: {{VISUAL_BALANCE}}</h2>
            
                    <h2 style="color: rgb(139, 59, 64)">Object Size: {{OBJECT_SIZE}}</h2>
            
                    <h2 style="color:rgb(139, 59, 64)">Total Composition Score: {{TOTAL}}</h2>
            
                    <h2 style="color:rgb(139, 59, 64)">Result: {{FINAL}}</h2> -->
                </div>
            </div>


        </div>
        
    </div>

    
    

    <p></p>
</body>
</html>
